h1 {
  color: blue;
}
h1{
  color: blue;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align:  center;
}
p{
  font-family: sans-sans-serif;
}
ul{
  line-height:40px;
}
h3{
  color: blue;
  font-size: 50px;
  font-style: italic;
}
body{
  background-color: purple;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}
